.AudioPlayer {
  overflow: hidden;
  background-color: #282828;
  border: 1px solid green;
  margin: auto;
  width: 80%;
  text-align: center;
}

.AudioPlayer__play-btn {
  background-color: transparent;
  border: 2px solid #BABABA;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.AudioPlayer__section-btn {
  position: relative;
  background-color: transparent;
  border: 0;
  color: white;
  left: -15px;

  .active {
    color: #66D36E;
  }
}

.AudioPlayer__toggle-btn {
  position: relative;
  background-color: transparent;
  border: 0;
  color: white;
  left: 15px;

  .active {
    color: #66D36E;
  }
}

.AudioPlayer__section-loop-cancel {
  position: relative;
  width: 100px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-right: -100px;
  left: -200px;
}


.AudioPlayer__message {
  color: white;
}