.TimeScreen {
  color: #B0B0B0;
  width: 45px;
  padding: 5px;
  margin: 5px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  font-family: "Courier", "Monaco", "Consolas", "Courier New";
}