$naver-green: #11C83A;
$lower-bar: #ABABAB;
$upper-bar: #404040;
$range-length: 800px;

.AudioPlayerTimeBox {
  width: 100%;
  overflow: hidden;
}

.AudioPlayerTimeBox__range {
  display: inline-block;
  margin: auto;
  width: 70%;
  text-align: center;
  vertical-align: middle;
  cursor: ew-resize;
}