.AudioShare {

}

.AudioShare__content {
  color: deepskyblue;
  margin: auto;
  width: 80%;
  border: 1px solid deepskyblue;
  border-radius: 15px;
  margin-bottom: 15px;
}

.AudioShare__textarea {
  display: block;
  margin: auto;
  width: 80%;
}

.AudioShare__btn {
  margin: 15px;
  height: 30px;
}

.AudioShare__icon {
  width: 100%;
  height: 100%;
}