.AudioButtonSet__play-btn {
  background-color: transparent;
  border: 2px solid #BABABA;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.AudioButtonSet__section-btn {
  position: relative;
  background-color: transparent;
  border: 0;
  color: white;
  left: -15px;

  .active {
    color: #66D36E;
  }
}

.AudioButtonSet__toggle-btn {
  position: relative;
  background-color: transparent;
  border: 0;
  color: white;
  left: 15px;

  .active {
    color: #66D36E;
  }
}

.AudioButtonSet__share-btn {
  position: relative;
  width: 100px;
  margin-left: -100px;
  background-color: transparent;
  border: 0;
  left: 150px;
  color: white;

  .active {
    color: #66D36E;
  }
}

.AudioButtonSet__section-loop-cancel {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  position: relative;
  width: 140px;
  margin-right: -140px;
  left: -200px;
  top: -10px;
  height: 35px;
  margin-bottom: -35px;
}